.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  display: flex;
  width: 400px;
  height: fit-content;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  font-size: 50px;
  font-weight: 200;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  color: blueviolet;
  margin-bottom: 20px;
}

.button-wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.error-messages-show {
  font-size: 14px;
  font-weight: 100;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  color: red;
}

.error-messages-hidden {
  font-size: 14px;
  font-weight: 100;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  color: transparent;
}